@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans", sans-serif;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end{
    margin-right: 2px;
    text-align: center!important;
}

/* Show button on mobile/tablet, hide on desktop */
.sidebar-toggle-btn {
  display: flex;
}

@media (min-width: 1024px) {
  .sidebar-toggle-btn {
    display: none;
  }
}
