@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans", sans-serif;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end{
    margin-right: 2px;
    text-align: center!important;
}